BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: All
SortIncludes: true
IncludeBlocks: Regroup

PointerAlignment: Left
QualifierAlignment: Left

ReflowComments: Always
AlignTrailingComments: true

SpacesInParentheses: false
SpaceAfterCStyleCast: true
