repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-yaml
      - id: check-xml

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        types: [c, c++]
        args: [
          "-p", "buildDir",
          "--fix"
        ]
        files: '\.(cpp|hpp)$'

      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        types: [c, c++]
        args: [
          "-i", "--style=file", "--Werror"
        ]
        files: '\.(cpp|hpp)$'
